{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <h2>Enter OTP</h2>
    <form action="/mfa-login" method="POST">
        <div class="mb-3">
            <label for="OTP" class="form-label">OTP</label>
            <input autofocus="autofocus" type="password" class="form-control" name="OTP" id="OTP" aria-describedby="emailHelp" placeholder="Enter otp, session valid for 5 minutes" />
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button id="otp-sub" type="submit" class="btn btn-primary">Submit</button>
        <div class="alert alert-primary my-3" role="alert">
            Greetings, Traveller!
        </div>
    </form>

    <!-- JINJA to display flashed messages -->
	<div class="my-3">
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					{% if category == 'error' %}
						<div class="alert alert-danger" role="alert">
						{{ message }}
						</div>
					{% else %}
						<div class="alert alert-success" role="alert">
						{{ message }}
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endwith %}
	</div>
</div>

<!-- Disables back button -->
<script type="text/javascript">
    window.history.forward();
    function noBack() {
        window.history.forward();
    }
</script>

<!-- Enabling Dark Mode -->
<style>
    .container {
        color: #fff !important;
    }
</style>

{% endblock content %}