{% extends 'base.html' %}
{% block content %}

<div class="alert alert-success container my-3" role="alert">
    ACCOUNT CREATED!
</div>

<div class="jumbotron container my-3">
    <h1 class="display-4">WELCOME TO MY WEBSITE</h1>
    <p class="lead">Explore my projects, read my blogs, and dive into the documentation I've put together. </p>
    <hr class="my-4" />
    <p>Manage your account here.</p>
    <a class="btn btn-primary btn-lg" href="/secrets" role="button">Account overview</a>
</div>
<style>
    .jumbotron {
        color: #fff !important;
    }
</style>

{% endblock content %}