{% extends 'base.html' %}
{% block content %}

<head>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- FontAwesome JS-->
    <script defer src="static/assets/fontawesome/js/all.min.js"></script>

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="static/css/theme.css">

</head>

<body>
    <div class="page-header theme-bg-dark py-5 text-center position-relative">
	    <div class="theme-bg-shapes-right"></div>
	    <div class="theme-bg-shapes-left"></div>
	    <div class="container">
		    <h1 class="page-heading single-col-max mx-auto">AuthAlpha</h1>
		    <div class="page-intro single-col-max mx-auto">Everything you need to start using AuthAlpha package</div>
		    <div class="main-search-box pt-3 d-block mx-auto">
                 <form class="search-form w-100">
		            <input type="text" placeholder="Search the docs..." name="search" class="form-control search-input">
		            <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>
		        </form>
             </div>
	    </div>
    </div><!--//page-header-->
   <div class="page-content">
	    <div class="container">
		    <div class="docs-overview py-5">
			    <div class="row justify-content-center">
				    <div class="col-12 col-lg-4 py-3">
					    <div class="card shadow-sm">
						    <div class="card-body">
							    <h5 class="card-title mb-3">
								    <span class="theme-icon-holder card-icon-holder me-2">
								        <i class="fas fa-map-signs"></i>
							        </span><!--//card-icon-holder-->
							        <span class="card-title-text">Introduction</span>
							    </h5>
							    <div class="card-text">
								    A python package that provides various hashing algorithms with support for user
									authentication.
							    </div>
							    <a class="card-link-mask" href="/AuthAlpha/AuthAlpha-Docs-Page#section-1"></a>
						    </div><!--//card-body-->
					    </div><!--//card-->
				    </div><!--//col-->
				    <div class="col-12 col-lg-4 py-3">
					    <div class="card shadow-sm">
						    <div class="card-body">
							    <h5 class="card-title mb-3">
								    <span class="theme-icon-holder card-icon-holder me-2">
								        <i class="fas fa-arrow-down"></i>
							        </span><!--//card-icon-holder-->
							        <span class="card-title-text">Installation</span>
							    </h5>
							    <div class="card-text">
								    This package can be installed using Python Package Index (PyPI) or
									<a href="https://pypi.org/project/bcrypt/">pip.</a>
							    </div>
							    <a class="card-link-mask" href="/AuthAlpha/AuthAlpha-Docs-Page#section-2"></a>
						    </div><!--//card-body-->
					    </div><!--//card-->
				    </div><!--//col-->
				    <div class="col-12 col-lg-4 py-3">
					    <div class="card shadow-sm">
						    <div class="card-body">
							    <h5 class="card-title mb-3">
								    <span class="theme-icon-holder card-icon-holder me-2">
								        <i class="fas fa-box fa-fw"></i>
							        </span><!--//card-icon-holder-->
							        <span class="card-title-text">Usage</span>
							    </h5>
							    <div class="card-text">
								    This section covers the usage of this package, various errors you might encounter
									and so on and so forth.
								</div>
							    <a class="card-link-mask" href="/AuthAlpha/AuthAlpha-Docs-Page#section-3"></a>
						    </div><!--//card-body-->
					    </div><!--//card-->
				    </div><!--//col-->
				    <div class="col-12 col-lg-4 py-3">
					    <div class="card shadow-sm">
						    <div class="card-body">
							    <h5 class="card-title mb-3">
								    <span class="theme-icon-holder card-icon-holder me-2">
								        <i class="fas fa-cogs fa-fw"></i>
							        </span><!--//card-icon-holder-->
							        <span class="card-title-text">Integrations</span>
							    </h5>
							    <div class="card-text">
								    This section discusses integration of this package into various frameworks like
									Flask, Django etc.
								</div>
							    <a class="card-link-mask" href="/AuthAlpha/AuthAlpha-Docs-Page#section-4"></a>
						    </div><!--//card-body-->
					    </div><!--//card-->
				    </div><!--//col-->

				    <div class="col-12 col-lg-4 py-3">
					    <div class="card shadow-sm">
						    <div class="card-body">
							    <h5 class="card-title mb-3">
								    <span class="theme-icon-holder card-icon-holder me-2">
								        <i class="fas fa-book-reader"></i>
							        </span><!--//card-icon-holder-->
							        <span class="card-title-text">Resources</span>
							    </h5>
							    <div class="card-text">
								    This section delves deeper into the discussion of the practices and parameters
									used as default in this package.
								</div>
							    <a class="card-link-mask" href="/AuthAlpha/AuthAlpha-Docs-Page#section-8"></a>
						    </div><!--//card-body-->
					    </div><!--//card-->
				    </div><!--//col-->
				    <div class="col-12 col-lg-4 py-3">
					    <div class="card shadow-sm">
						    <div class="card-body">
							    <h5 class="card-title mb-3">
								    <span class="theme-icon-holder card-icon-holder me-2">
								        <i class="fas fa-lightbulb"></i>
							        </span><!--//card-icon-holder-->
							        <span class="card-title-text">FAQs</span>
							    </h5>
							    <div class="card-text">
								     Frequently Asked Questions
								</div>
							    <a class="card-link-mask" href="/AuthAlpha/AuthAlpha-Docs-Page#section-9"></a>
						    </div><!--//card-body-->
					    </div><!--//card-->
				    </div><!--//col-->
			    </div><!--//row-->
		    </div><!--//container-->
		</div><!--//container-->
    </div><!--//page-content-->

    <section class="cta-section text-center py-5 theme-bg-dark position-relative">
	    <div class="theme-bg-shapes-right"></div>
	    <div class="theme-bg-shapes-left"></div>
	    <div class="container">
		    <h3 class="mb-2 text-white mb-3">How to contribute?</h3>
		    <div class="section-intro text-white mb-3 single-col-max mx-auto">This project is open source, your contributions
				will be appreciated. Head over to <a style="color: black;" href="https://github.com/Theorist-Git/AuthAlpha"> Github/AuthAlpha </a>
				and create a pull request. But before doing that you should probably read the documentation's FAQs section</div>
		    <div class="pt-3 text-center">
			    <a class="btn btn-light" target="_blank" href="https://github.com/Theorist-Git/AuthAlpha">See more projects<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
		    </div>
	    </div>
    </section><!--//cta-section-->

    <footer class="footer" id="myfooter">

	    <div class="footer-bottom text-center py-4" id="attr">
	        <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            <small class="copyright">Template designed by <a style="color: green;" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
	    </div>

    </footer>

</body>
<style>
	#myfooter{
		background : #212529;
	}
	#attr {
		background: #ffffff;
	}
	.header {
		box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
		background: #0c0f38;
	}
	.btn-primary {
		background: #000000;
		color: #fff;
	}
</style>
{% endblock content %}

