<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- FontAwesome JS-->
    <script defer src="static/assets/fontawesome/js/all.min.js"></script>

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="static/css/theme.css">

	<link rel="shortcut icon" type="image/jpg" href="/static/favicon.ico"/>
	<title>CitadelCoding: AuthAlpha</title>
</head>

<body class="docs-page">
    <header class="header fixed-top">
        <div class="branding docs-branding">
            <div class="container-fluid position-relative py-2">
                <div class="docs-logo-wrapper">
					<button id="docs-sidebar-toggler" class="docs-sidebar-toggler docs-sidebar-visible me-2 d-xl-none" type="button">
	                    <span></span>
	                    <span></span>
	                    <span></span>
	                </button>
	                <div class="site-logo"><a class="navbar-brand" href="/"><img class="logo-icon me-2" src="static/images/coderdocs-logo.svg" alt="logo"><span class="logo-text">Citadel<span class="text-alt">Docs</span></span></a></div>
                </div><!--//docs-logo-wrapper-->
	            <div class="docs-top-utilities d-flex justify-content-end align-items-center">
	                <div class="top-search-box d-none d-lg-flex">
		                <form class="search-form">
				            <input type="text" placeholder="Search the docs..." name="search" class="form-control search-input">
				            <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>
				        </form>
	                </div>

					<ul class="social-list list-inline mx-md-3 mx-lg-5 mb-0 d-none d-lg-flex">
						<li class="list-inline-item"><a href="https://github.com/Theorist-Git/AuthAlpha"><i class="fab fa-github fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjv6NbHkvTyAhUwIbcAHZu9ARYQFnoECAcQAw&url=https%3A%2F%2Ftwitter.com%2F%3Flang%3Den&usg=AOvVaw1Sd3B-_cNZOLSmhw9z2lOm"><i class="fab fa-twitter fa-fw"></i></a></li>
		            </ul><!--//social-list-->
		            <a href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/coderdocs-free-bootstrap-5-documentation-template-for-software-projects/" class="btn btn-primary d-none d-lg-flex">Download</a>
	            </div><!--//docs-top-utilities-->
            </div><!--//container-->
        </div><!--//branding-->
    </header><!--//header-->


    <div class="docs-wrapper">
	    <div id="docs-sidebar" class="docs-sidebar">
		    <div class="top-search-box d-lg-none p-3">
                <form class="search-form">
		            <input type="text" placeholder="Search the docs..." name="search" class="form-control search-input">
		            <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>
		        </form>
            </div>
		    <nav id="docs-nav" class="docs-nav navbar">
			    <ul class="section-items list-unstyled nav flex-column pb-3">
				    <li class="nav-item section-title"><a class="nav-link scrollto active" href="#section-1"><span class="theme-icon-holder me-2"><i class="fas fa-map-signs"></i></span>Introduction</a></li>
				    <li class="nav-item"><a class="nav-link scrollto" href="#item-1-1">Password Hashing</a></li>
				    <li class="nav-item"><a class="nav-link scrollto" href="#item-1-2">Non-Password Hashing</a></li>
				    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-2"><span class="theme-icon-holder me-2"><i class="fas fa-arrow-down"></i></span>Installation</a></li>
				    <li class="nav-item"><a class="nav-link scrollto" href="#item-2-1">PyPI or pip</a></li>
				    <li class="nav-item"><a class="nav-link scrollto" href="#item-2-2">Github Repository</a></li>
				    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-3"><span class="theme-icon-holder me-2"><i class="fas fa-box"></i></span>Usage</a></li>
				    <li class="nav-item"><a class="nav-link scrollto" href="#item-3-1">Hashing and Checking Passwords</a></li>
				    <li class="nav-item"><a class="nav-link scrollto" href="#item-3-2">Non-password Related Hashing</a></li>
				    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-4"><span class="theme-icon-holder me-2"><i class="fas fa-cogs"></i></span>Integrations</a></li>
				    <li class="nav-item"><a class="nav-link scrollto" href="#item-4-1">Section Item 4.1</a></li>
				    <li class="nav-item"><a class="nav-link scrollto" href="#item-4-2">Section Item 4.2</a></li>
				    <li class="nav-item"><a class="nav-link scrollto" href="#item-4-3">Section Item 4.3</a></li>
				    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-8"><span class="theme-icon-holder me-2"><i class="fas fa-book-reader"></i></span>Resources</a></li>
				    <li class="nav-item"><a class="nav-link scrollto" href="#item-8-1">Section Item 8.1</a></li>
				    <li class="nav-item"><a class="nav-link scrollto" href="#item-8-2">Section Item 8.2</a></li>
				    <li class="nav-item"><a class="nav-link scrollto" href="#item-8-3">Section Item 8.3</a></li>
				    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-9"><span class="theme-icon-holder me-2"><i class="fas fa-lightbulb"></i></span>FAQs</a></li>
				    <li class="nav-item"><a class="nav-link scrollto" href="#item-9-1">Section Item 9.1</a></li>
				    <li class="nav-item"><a class="nav-link scrollto" href="#item-9-2">Section Item 9.2</a></li>
				    <li class="nav-item"><a class="nav-link scrollto" href="#item-9-3">Section Item 9.3</a></li>
			    </ul>

		    </nav><!--//docs-nav-->
	    </div><!--//docs-sidebar-->
	    <div class="docs-content">
		    <div class="container">
			    <article class="docs-article" id="section-1">
				    <header class="docs-header">
					    <h1 class="docs-heading">Introduction <span class="docs-time">Last updated: 2019-06-01</span></h1>
					    <section class="docs-intro">
						    <p>A python package that provides various hashing algorithms with support for user authentication. There are a lot of libraries
							out there for implementing hashing algorithms but not many packages have built-in support for authentication, so I decided
							to make one myself. Feel free to use it in your projects under the terms mentioned in the
								<a href="/AuthAlpha/AuthAlpha-Docs-Page#section-8">License.</a>
							</p>
						</section><!--//docs-intro-->

				    </header>
				    <section class="docs-section" id="item-1-1">
						<h2 class="section-heading">Features related to password hashing</h2>
						<p>Authentication support is provided for the following algorithms:</p>
						<ul>
							<li><a href="https://pypi.org/project/argon2-cffi/">Argon2id: </a></li>
							<div class="callout-block callout-block-info">
							<b>Argon2</b> is a
							<a href="https://en.wikipedia.org/wiki/Key_derivation_function" title="Key derivation function">key derivation function</a>
							that was selected as the winner of the <a href="https://en.wikipedia.org/wiki/Password_Hashing_Competition" title="Password Hashing Competition">
							Password Hashing Competition</a> in July 2015.
							It was designed by <a href="https://en.wikipedia.org/wiki/Alex_Biryukov" title="Alex Biryukov">
							Alex Biryukov</a>, Daniel Dinu, and <a href="https://en.wikipedia.org/wiki/Dmitry_Khovratovich" title="Dmitry Khovratovich">
							Dmitry Khovratovich</a> from the <a href="https://en.wikipedia.org/wiki/University_of_Luxembourg" title="University of Luxembourg">
							University of Luxembourg
							The reference implementation of Argon2 is released under a Creative Commons
							<a href="https://en.wikipedia.org/wiki/Creative_Commons_license#Zero_/_public_domain" class="mw-redirect" title="CC0">CC0</a> license
							(i.e. <a href="/wiki/Public_domain" title="https://en.wikipedia.org/wiki/Public_domain">public domain</a>)
							or the <a href="https://en.wikipedia.org/wiki/Apache_License" title="Apache License">Apache License 2.0</a>,
							and provides three related versions: Argon2d, argon2i and argon2id. We'll discuss them in detail in
							<a href="/AuthAlpha/AuthAlpha-Docs-Page#section-8">Resources Section</a>.
							</a>
							</div>
							<li><a href="https://pypi.org/project/bcrypt/">Bcrypt: </a></li>
							<div class="callout-block callout-block-info">
								<p><b>bcrypt</b> is a <a href="https://en.wikipedia.org/wiki/Key_derivation_function" class="mw-redirect" title="Password-hashing function">
									password-hashing function</a> designed by
									<a href="https://en.wikipedia.org/wiki/Niels_Provos" title="Niels Provos">Niels Provos</a>
									and David Mazières, based on the <a href="https://en.wikipedia.org/wiki/Blowfish_(cipher)" title="Blowfish (cipher)">Blowfish</a>
									cipher and presented at <a href="https://en.wikipedia.org/wiki/USENIX" title="USENIX">USENIX</a> in 1999.
									Besides incorporating a salt to protect against <a href="https://en.wikipedia.org/wiki/Rainbow_table" title="Rainbow table">rainbow table</a>
									attacks, bcrypt is an adaptive function: over time, the iteration count can be increased to make it slower,
									so it remains resistant to brute-force search attacks even with increasing computation power.
</p>
							</div>
							<li><a href="https://pypi.org/project/scrypt/">Scrypt: </a></li>
							<div class="callout-block callout-block-info">
								<p>In <a href="https://en.wikipedia.org/wiki/Cryptography" title="Cryptography">cryptography</a>,
									<b>scrypt</b> (pronounced "ess crypt") is a password-based
									<a href="https://en.wikipedia.org/wiki/Key_derivation_function" title="Key derivation function">key derivation function</a>
									created by Colin Percival, originally for the <a href="https://en.wikipedia.org/wiki/Tarsnap" title="Tarsnap">
									Tarsnap</a> online backup service. The algorithm was specifically designed to make it costly to perform
									large-scale <a href="https://en.wikipedia.org/wiki/Custom_hardware_attack" title="Custom hardware attack">
									custom hardware attacks</a> by requiring large amounts of memory. In 2016, the scrypt algorithm was published
									by <a href="https://en.wikipedia.org/wiki/Internet_Engineering_Task_Force" title="Internet Engineering Task Force">
									IETF</a> as RFC 7914.
								</p>
							</div>
							<li><a href="https://pypi.org/project/scrypt/">PBKDF2: </a></li>
							<div class="callout-block callout-block-info">
								<p><b>PBKDF2</b> (<b>Password-Based Key Derivation Function 2</b>) are with a sliding computational cost,
									used to reduce vulnerabilities of <a href="https://en.wikipedia.org/wiki/Brute-force_attack" title="Brute-force attack">
									brute-force attacks</a>.
								</p>
							</div>
						</ul>
					</section><!--//section-->

					<section class="docs-section" id="item-1-2">
						<h2 class="section-heading">Feature related to Non-Password Hashing</h2>
						<p><b>AuthAlpha</b> provides support to generate hashes of files to maintain and check their
						integrity. Keeping hashes of your files is a great way to ensure that they haven't been tampered
							with.
						When downloading a file, authors usually provide its hash along with it, you can then check
						if the hash of the file you have matches hash published by the author.<br><br>
						<b>For Eg: </b> SHA256 and SHA3_256 Hashes of the <b>AuthAlpha.py</b> file are:
						</p>

						<ul>
							<li><b>sha256 : d57d377b9543e3f98a10ca3fc292df195a0ccd74d8d2250702bb102b25f16017</b></li>
							<li><b>sha3_256 : 343e2798a073d6f46c99084374c89fb613e43ec9cbb49f99e514a9a6a34deec3</b></li>
						</ul>

						<p>You can generate hashes for any type of file <b>(Eg: .txt, .py. c, .mp3, .mp4 etc)</b>
							with <b>AuthAlpha</b></p><br>

						<h5>Supported Hash-Types</h5><label>[SHA - Secure Hashing Algorithm]</label>
						<div class="table-responsive my-4">
							<table class="table table-bordered">
								<tbody>
								    <tr>
									    <th class="theme-bg-light"><a class="theme-link" href="https://en.wikipedia.org/wiki/SHA-1">SHA-1</a></th>
									    <td>SHA-1 (Secure Hash Algorithm 1) was designed by the United States National Security Agency, and is a U.S. Federal Information Processing Standard.</td>
									</tr>
									<tr>
									      <th class="theme-bg-light"><a class="theme-link" href="https://en.wikipedia.org/wiki/SHA-2">SHA-2</a></th>
									      <td>SHA-2 (Secure Hash Algorithm 2) is a set of cryptographic hash functions designed by the United States National Security Agency (NSA) and first published in 2001. </td>
									</tr>

									<tr>
									    <th class="theme-bg-light"><a class="theme-link" href="https://en.wikipedia.org/wiki/SHA-3">SHA-3</a></th>
									    <td>SHA-3 (Secure Hash Algorithm 3) is the latest member of the Secure Hash Algorithm family of standards, released by NIST on August 5, 2015.</td>
									</tr>
								</tbody>
							</table>
						</div><!--//table-responsive-->
					</section><!--//section-->

			    </article>

			    <article class="docs-article" id="section-2">
				    <header class="docs-header">
					    <h1 class="docs-heading">Installation</h1>
					    <section class="docs-intro">
							<p> There are two ways to install <b>Auth alpha:</b></p>
						</section><!--//docs-intro-->
				    </header>
				     <section class="docs-section" id="item-2-1">
						<h2 class="section-heading">Thorugh <b>PyPI</b> or <b>pip</b></h2>
						<p>We suggest that you first make a virtual environment and then install AuthAlpha.</p>
						 <pre class="language-bash"><code>$ mkvirtualenv AuthAlpha

$ pip3 install AuthAlpha</code></pre>
					</section><!--//section-->

					<section class="docs-section" id="item-2-2">
						<h2 class="section-heading">Directly through Github Repository</h2>
						<p>Go to <a href="https://github.com/Theorist-Git/AuthAlpha">Theorist-git</a>
						Here, you will find the master branch of this project, if you just want to download
						the package that you usually get with pip installation, just download the AuthAlpha.py file.</p>
						<p>The repository also has some extra material:</p>
						<ul>
							<li>The <b>Tests</b> directory contains ready to execute implementations of the package. The same
							with explanation are there in The  <a href="http://127.0.0.1:5000/AuthAlpha/AuthAlpha-Docs-Page#section-3">Usage Section</a> of this documentaion.</li>
						    <li>The <b>Integrity.txt</b> file contains the latest SHA checksums of <b>AuthAlpha.py</b> file. If these checksums
							don't match the checksums on the website, contact the author at <b>Email: testpass.py@gmail.com</b>
							immediately.</li>
						</ul>
					</section><!--//section-->
			    </article><!--//docs-article-->


			    <article class="docs-article" id="section-3">
				    <header class="docs-header">
					    <h1 class="docs-heading">Usage</h1>
					    <section class="docs-intro">
						    <p>This section underlines the usage of this package in a concise manner.
							Starting with Hashing passwords: </p>
						</section><!--//docs-intro-->
				    </header>
				     <section class="docs-section" id="item-3-1">
						<h2 class="section-heading">Hashing and Checking Passwords.</h2>
						 <h3><b>Argon2id</b></h3>
							<pre class="language-python"><code>from AuthAlpha import AuthAlpha

argon = AuthAlpha.PassHashing("argon2id")

"""
generate_hash_password(self, password: Any, prov_salt: Any = None) -&gt; str
Method will generate a argon2 hash
Parameters are kept default, salt will be generated randomly.
"""

hashed = argon.generate_password_hash("SuP#rS&euro;cR&euro;TPass")
print(hashed)  # $argon2id$v=19$m=102400,t=2,p=8$FNGz3srP/GmD/K+qqSZxSQ$5tVWcHz4Huz1T4mQhgztpg
print("Correct Pass -&gt; ", argon.check_password_hash(hashed, "SuP#rS&euro;cR&euro;TPass"))  # Will return True
print("Incorrect Pass -&gt; ", argon.check_password_hash(hashed, "NotMyPassword"))    # Will return False

# If you input a non string to generate_password_hash or check_password_hash,
# it will automatically type-cast it to string

hashed = argon.generate_password_hash(1234567890)
print(hashed)
print("When pass is correct -&gt; ", argon.check_password_hash(hashed, 1234567890))  # Will return True
</code></pre><br>
						 <h3><b>Bcrypt (Blow-Fish Crypt)</b></h3>
							<pre class="language-python"><code>import time
from AuthAlpha import AuthAlpha

bcrypt = AuthAlpha.PassHashing("bcrypt")

"""
generate_hash_password(self, password: Any, prov_salt: Any = None) -&gt; str
Method will generate a bcrypt hash
Parameters are kept default, salt will be generated randomly.
"""

hashed = bcrypt.generate_password_hash("SuP#rS&euro;cR&euro;TPass")
print(hashed)  # $bcrypt$b'$2b$13$u0fpWURaBG46o8iMLAjupe33Z5Kc6Z3wbM9M/DWco5A8xNaXDCzgy'
print("Correct Pass -&gt; ", bcrypt.check_password_hash(hashed, "SuP#rS&euro;cR&euro;TPass"))  # Will return True
print("Incorrect Pass -&gt; ", bcrypt.check_password_hash(hashed, "NotMyPassword"))  # Will return False

# If you input a non string to generate_password_hash or check_password_hash,
# it will automatically type-cast it to string

hashed = bcrypt.generate_password_hash(1234567890)
print(hashed)
print("When pass is correct -&gt; ", bcrypt.check_password_hash(hashed, 1234567890))  # Will return True

# You can also provide you own cost parameter (COST_FACTOR for bcrypt), although the author has chosen
# parameters sensible in general, everyone has different needs. You need to be careful here,
# as a high cost factor will take forever to generate and check hashes. See an example below.

# For cost factor 16 in bcrypt: (2^16 rounds)
start = time.time()
custom_hashed = bcrypt.generate_password_hash("SuP#rS&euro;cR&euro;TPass", cost=16)
end = time.time()
print("Custom Hash", custom_hashed)
print("Time taken for 16 rounds = ", end - start)
# 16 rounds take ~3.5 seconds on a machine with 11th Gen Intel(R) CORE(TM) i7-1165G7 @ 2.80 GHz

print("Correct Pass -&gt; ", bcrypt.check_password_hash(custom_hashed, "SuP#rS&euro;cR&euro;TPass"))  # Will return True
print("Incorrect Pass -&gt; ", bcrypt.check_password_hash(custom_hashed, "NotMyPassword"))  # Will return False
</code></pre><br>

						 <h3><b>Scrypt</b></h3>
						 <pre class="language-python"><code>import time
from AuthAlpha import AuthAlpha

scrypt = AuthAlpha.PassHashing("scrypt")

"""
generate_hash_password(self, password: Any, prov_salt: Any = None) -&gt; str
Method will generate a scrypt hash
Parameters are kept default, salt will be generated randomly.
You can provide your own salt for scrypt, but that is not recommended.
"""

hashed = scrypt.generate_password_hash("SuP#rS&euro;cR&euro;TPass")
print(hashed)
# $scrypt$N=14$r=8$p=1$b'iTCSARbqQnvd3Y5d'$12f91c9e9aada38bd1e7737df09d4fc1b8369026d61e9688249c9633279b7179e2c78d0ab6eb0f7c31fa1894685880155488883530b8f3cb4c21e0a3371fcc5a


print("When pass is correct -&gt; ", scrypt.check_password_hash(hashed, "SuP#rS&euro;cR&euro;TPass"))  # Will return True
print("When pass is not correct -&gt; ", scrypt.check_password_hash(hashed, "NotMyPassword"))  # Will return False

# If you input a non string to generate_password_hash or check_password_hash,
# it will automatically type-cast it to string

hashed = scrypt.generate_password_hash(1234567890)
print(hashed)
print("When pass is correct -&gt; ", scrypt.check_password_hash(hashed, 1234567890))  # Will return True

# When you provide your own salt:

hashed = scrypt.generate_password_hash("Secret", prov_salt="mayankvats".encode("utf-8"))
print(hashed)
print("When pass is correct -&gt; ", scrypt.check_password_hash(hashed, "Secret"))

# You can also provide you own cost parameter (number of iterations of scrypt), although the author has chosen
# parameters sensible in general, everyone has different needs. You have to provide the number of iterations
# in the power of 2, i.e the cost parameter you provide will be raised to the power of 2 automatically and
# used as the number of iterations. The default parameter is 14, i.e number of iterations = 2^14 (16384).
# You need to be careful here, as a high  cost factor will take forever to generate and check hashes.
# See an example below:

start = time.time()
custom_hashed = scrypt.generate_password_hash("SuP#rS&euro;cR&euro;TPass", cost=20)  # iterations = 2^20 === 1048576
end = time.time()
print("Custom Hash -&gt; ", custom_hashed)
print("TIme for 2^20 iterations: ", end - start)
# 2^20 rounds take ~2 seconds on a machine with 11th Gen Intel(R) CORE(TM) i7-1165G7 @ 2.80 GHz.

print("When pass is correct -&gt; ", scrypt.check_password_hash(custom_hashed, "SuP#rS&euro;cR&euro;TPass"))  # Will return True
print("When pass is not correct -&gt; ",
	  scrypt.check_password_hash(custom_hashed, "NotMyPassword"))  # Will return False
</code></pre><br>
						 <h3><b>PBKDF2:SHA Family</b></h3>
						<pre class="language-python"><code>import time
from AuthAlpha import AuthAlpha

if __name__ == '__main__':

    pbkdf2 = AuthAlpha.PassHashing("pbkdf2:sha256")
    # You can change the argument to sha1, sha224, sha384, sha512

    """
    generate_hash_password(self, password: Any, prov_salt: Any = None) -&gt; str
    Method will generate a pbkdf2 hash
    Parameters are kept default, salt will be generated randomly.
    You can also provide your own salt but that is not recommended.
    """

    hashed = pbkdf2.generate_password_hash("SuP#rS&euro;cR&euro;TPass")  # Default rounds = 300000
    print(hashed)  # $pbkdf2:sha256:300000$b'YJt16sKmR5wKxAj4'$534bb121c8b5673e1e96866c5cdcc42b75becd3ead61a6fdca40f27cc4395a0b

    print("Correct pass-&gt; ", pbkdf2.check_password_hash(hashed, "SuP#rS&euro;cR&euro;TPass"))  # Will return True
    print("Incorrect pass-&gt; ", pbkdf2.check_password_hash(hashed, "NotMyPassword"))  # Will return False

    # If you input a non string to generate_password_hash or check_password_hash,
    # it will automatically type-cast it to string

    hashed = pbkdf2.generate_password_hash(1234567890)
    print(hashed)
    print("When pass is correct -&gt; ", pbkdf2.check_password_hash(hashed, 1234567890))  # Will return True

    # When you provide your own salt:

    hashed = pbkdf2.generate_password_hash("Secret", prov_salt="mayankvats".encode("utf-8"))
    print(hashed)
    print("When pass is correct -&gt; ", pbkdf2.check_password_hash(hashed, "Secret"))

    # You can also provide you own cost parameter (number of iterations of pbkdf2), although the author has chosen
    # parameters sensible in general, everyone has different needs. You need to be careful here,
    # as a high  cost factor will take forever to generate and check hashes. See an example below.

    start = time.time()
    custom_hashed = pbkdf2.generate_password_hash("SuP#rS&euro;cR&euro;TPass", cost=20000000)
    end = time.time()
    print("Custom Hash", custom_hashed)

    print("Time taken for 20 Million rounds = ", end - start)
    # 16 rounds take ~5.5 seconds on a machine with 11th Gen Intel(R) CORE(TM) i7-1165G7 @ 2.80 GHz

    print("Correct Pass -&gt; ", pbkdf2.check_password_hash(custom_hashed, "SuP#rS&euro;cR&euro;TPass"))  # Will return True
    print("Incorrect Pass-&gt; ", pbkdf2.check_password_hash(custom_hashed, "NotMyPassword"))  # Will return False
</code></pre>

					</section><!--//section-->

					<section class="docs-section" id="item-3-2">
						<h2 class="section-heading">Non-password Related Hashing</h2>
						<p>This section briefly discusses and showcases the usage of file hashing method:</p>
						<br>
<pre class="language-python"><code>from AuthAlpha import AuthAlpha

hash_list = AuthAlpha.NonPassHashing("algo").supported_hash_methods
f1 = "C:\\Users\\mayan\\Desktop\\languages\\Python 3.9\\Projects\\Cryptography\\Algorithm_Implementations\\license.txt"
f2 = "C:\\Users\\mayan\\Desktop\\languages\\Python 3.9\\Projects\\Cryptography\\Algorithm_Implementations\\README.md"
f3 = "C:\\Users\\mayan\\Desktop\\languages\\Python 3.9\\Projects\\Cryptography\\Algorithm_Implementations\\AuthAlpha.py"

print("----------------------------------------------Hashes for f1----------------------------------------------")
for i in hash_list:
    hashed = AuthAlpha.NonPassHashing(i)
    h = hashed.generate_file_hash(f1)
    print(i, ":", h)


print("----------------------------------------------Hashes for f2----------------------------------------------")
for j in hash_list:

    hashed = AuthAlpha.NonPassHashing(j)
    h = hashed.generate_file_hash(f2)
    print(j, ":", h)

# SHA256 hash of f1: 81cbae84a29ce7e770bf2bc7b178e50bda0ce8de6067aba661b0bc7b05b562f8
# SHA256 hash of f2: 2c7498404231e3f980b42756c06de5f58cfde6e3e211a059f2e593380afd5157

check = AuthAlpha.NonPassHashing("sha256")
print(check.check_file_hash(f1, "81cbae84a29ce7e770bf2bc7b178e50bda0ce8de6067aba661b0bc7b05b562f8"))  # -&gt; True
print(check.check_file_hash(f1, "2c7498404231e3f980b42756c06de5f58cfde6e3e211a059f2e593380afd5157"))  # -&gt; False

print(check.check_file_hash(f2, "81cbae84a29ce7e770bf2bc7b178e50bda0ce8de6067aba661b0bc7b05b562f8"))  # -&gt; False
print(check.check_file_hash(f2, "2c7498404231e3f980b42756c06de5f58cfde6e3e211a059f2e593380afd5157"))  # -&gt; True

# Therefore you can use this method to ensure integrity of your file, before downloading or distributing a file,
# you can provide the users with a hash of the file and after they download the file, they can check its hexdigest
# to ensure that the file hasn't been tampered with. I will also now be providing hexdigests of AuthAlpha.py in
# README.md.


print("------------------------------------------Hashes for AuthAlpha.py------------------------------------------")
for k in hash_list:

    hashed = AuthAlpha.NonPassHashing(k)
    h = hashed.generate_file_hash(f3)
    print(k, ":", h)</code></pre>


					</section><!--//section-->
			    </article><!--//docs-article-->

			    <article class="docs-article" id="section-4">
				    <header class="docs-header">
					    <h1 class="docs-heading">Integrations</h1>
					    <section class="docs-intro">
						    <p>This section delves into the Flask and Django integrations for this project.</p>
						</section><!--//docs-intro-->
				    </header>
				     <section class="docs-section" id="item-4-1">
						<h2 class="section-heading">Flask Integration</h2>
						<p>Vivamus efficitur fringilla ullamcorper. Cras condimentum condimentum mauris, vitae facilisis leo. Aliquam sagittis purus nisi, at commodo augue convallis id. Sed interdum turpis quis felis bibendum imperdiet. Mauris pellentesque urna eu leo gravida iaculis. In fringilla odio in felis ultricies porttitor. Donec at purus libero. Vestibulum libero orci, commodo nec arcu sit amet, commodo sollicitudin est. Vestibulum ultricies malesuada tempor.</p>
					</section><!--//section-->

					<section class="docs-section" id="item-4-2">
						<h2 class="section-heading">Section Item 4.2</h2>
						<p>Vivamus efficitur fringilla ullamcorper. Cras condimentum condimentum mauris, vitae facilisis leo. Aliquam sagittis purus nisi, at commodo augue convallis id. Sed interdum turpis quis felis bibendum imperdiet. Mauris pellentesque urna eu leo gravida iaculis. In fringilla odio in felis ultricies porttitor. Donec at purus libero. Vestibulum libero orci, commodo nec arcu sit amet, commodo sollicitudin est. Vestibulum ultricies malesuada tempor.</p>
					</section><!--//section-->

					<section class="docs-section" id="item-4-3">
						<h2 class="section-heading">Section Item 4.3</h2>
						<p>Vivamus efficitur fringilla ullamcorper. Cras condimentum condimentum mauris, vitae facilisis leo. Aliquam sagittis purus nisi, at commodo augue convallis id. Sed interdum turpis quis felis bibendum imperdiet. Mauris pellentesque urna eu leo gravida iaculis. In fringilla odio in felis ultricies porttitor. Donec at purus libero. Vestibulum libero orci, commodo nec arcu sit amet, commodo sollicitudin est. Vestibulum ultricies malesuada tempor.</p>
					</section><!--//section-->
			    </article><!--//docs-article-->

			    <article class="docs-article" id="section-8">
				    <header class="docs-header">
					    <h1 class="docs-heading">Resources</h1>
					    <section class="docs-intro">
						    <p>Section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit. Donec eu purus sed nibh convallis bibendum quis vitae turpis. Duis vestibulum diam lorem, vitae dapibus nibh facilisis a. Fusce in malesuada odio.</p>
						</section><!--//docs-intro-->
				    </header>
				     <section class="docs-section" id="item-8-1">
						<h2 class="section-heading">Section Item 8.1</h2>
						<p>Vivamus efficitur fringilla ullamcorper. Cras condimentum condimentum mauris, vitae facilisis leo. Aliquam sagittis purus nisi, at commodo augue convallis id. Sed interdum turpis quis felis bibendum imperdiet. Mauris pellentesque urna eu leo gravida iaculis. In fringilla odio in felis ultricies porttitor. Donec at purus libero. Vestibulum libero orci, commodo nec arcu sit amet, commodo sollicitudin est. Vestibulum ultricies malesuada tempor.</p>
					</section><!--//section-->

					<section class="docs-section" id="item-8-2">
						<h2 class="section-heading">Section Item 8.2</h2>
						<p>Vivamus efficitur fringilla ullamcorper. Cras condimentum condimentum mauris, vitae facilisis leo. Aliquam sagittis purus nisi, at commodo augue convallis id. Sed interdum turpis quis felis bibendum imperdiet. Mauris pellentesque urna eu leo gravida iaculis. In fringilla odio in felis ultricies porttitor. Donec at purus libero. Vestibulum libero orci, commodo nec arcu sit amet, commodo sollicitudin est. Vestibulum ultricies malesuada tempor.</p>
					</section><!--//section-->

					<section class="docs-section" id="item-8-3">
							<h2 class="section-heading">Section Item 8.3</h2>
						<p>Vivamus efficitur fringilla ullamcorper. Cras condimentum condimentum mauris, vitae facilisis leo. Aliquam sagittis purus nisi, at commodo augue convallis id. Sed interdum turpis quis felis bibendum imperdiet. Mauris pellentesque urna eu leo gravida iaculis. In fringilla odio in felis ultricies porttitor. Donec at purus libero. Vestibulum libero orci, commodo nec arcu sit amet, commodo sollicitudin est. Vestibulum ultricies malesuada tempor.</p>
					</section><!--//section-->
			    </article><!--//docs-article-->


			    <article class="docs-article" id="section-9">
				    <header class="docs-header">
					    <h1 class="docs-heading">FAQs</h1>
					    <section class="docs-intro">
						    <p>Section intro goes here. You can list all your FAQs using the format below.</p>
						</section><!--//docs-intro-->
				    </header>
				     <section class="docs-section" id="item-9-1">
						<h2 class="section-heading">Section Item 9.1 <small>(FAQ Category One)</small></h2>
						<h5 class="pt-3"><i class="fas fa-question-circle me-1"></i>What's sit amet quam eget lacinia?</h5>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
						<h5 class="pt-3"><i class="fas fa-question-circle me-1"></i>How to ipsum dolor sit amet quam tortor?</h5>
						<p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. </p>
						<h5 class="pt-3"><i class="fas fa-question-circle me-1"></i>Can I  bibendum sodales?</h5>
						<p>Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. </p>
						<h5 class="pt-3"><i class="fas fa-question-circle me-1"></i>Where arcu sed urna gravida?</h5>
						<p>Aenean et sodales nisi, vel efficitur sapien. Quisque molestie diam libero, et elementum diam mollis ac. In dignissim aliquam est eget ullamcorper. Sed id sodales tortor, eu finibus leo. Vivamus dapibus sollicitudin justo vel fermentum. Curabitur nec arcu sed urna gravida lobortis. Donec lectus est, imperdiet eu viverra viverra, ultricies nec urna. </p>
					</section><!--//section-->

					<section class="docs-section" id="item-9-2">
						<h2 class="section-heading">Section Item 9.2 <small>(FAQ Category Two)</small></h2>
						<h5 class="pt-3"><i class="fas fa-question-circle me-1"></i>What's sit amet quam eget lacinia?</h5>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
						<h5 class="pt-3"><i class="fas fa-question-circle me-1"></i>How to ipsum dolor sit amet quam tortor?</h5>
						<p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. </p>
						<h5 class="pt-3"><i class="fas fa-question-circle me-1"></i>Can I  bibendum sodales?</h5>
						<p>Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. </p>
						<h5 class="pt-3"><i class="fas fa-question-circle me-1"></i>Where arcu sed urna gravida?</h5>
						<p>Aenean et sodales nisi, vel efficitur sapien. Quisque molestie diam libero, et elementum diam mollis ac. In dignissim aliquam est eget ullamcorper. Sed id sodales tortor, eu finibus leo. Vivamus dapibus sollicitudin justo vel fermentum. Curabitur nec arcu sed urna gravida lobortis. Donec lectus est, imperdiet eu viverra viverra, ultricies nec urna. </p>
					</section><!--//section-->

					<section class="docs-section" id="item-9-3">
							<h2 class="section-heading">Section Item 9.3 <small>(FAQ Category Three)</small></h2>
						    <h5 class="pt-3"><i class="fas fa-question-circle me-1"></i>How to dapibus sollicitudin justo vel fermentum?</h5>
							<p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. </p>
							<h5 class="pt-3"><i class="fas fa-question-circle me-1"></i>How long bibendum sodales?</h5>
							<p>Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. </p>
							<h5 class="pt-3"><i class="fas fa-question-circle me-1"></i>Where dapibus sollicitudin?</h5>
							<p>Aenean et sodales nisi, vel efficitur sapien. Quisque molestie diam libero, et elementum diam mollis ac. In dignissim aliquam est eget ullamcorper. Sed id sodales tortor, eu finibus leo. Vivamus dapibus sollicitudin justo vel fermentum. Curabitur nec arcu sed urna gravida lobortis. Donec lectus est, imperdiet eu viverra viverra, ultricies nec urna. </p>
					</section><!--//section-->
			    </article><!--//docs-article-->

			    <footer class="footer">
				    <div class="container text-center py-5">
				        <small class="copyright">Template Copyright &copy; <a href="https://themes.3rdwavemedia.com/" target="_blank">3rd Wave Media</a></small>
				        <ul class="social-list list-unstyled pt-3 mb-0">
						    <li class="list-inline-item"><a href="#"><i class="fab fa-github fa-fw"></i></a></li>
				            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
				            <li class="list-inline-item"><a href="#"><i class="fab fa-slack fa-fw"></i></a></li>
				            <li class="list-inline-item"><a href="#"><i class="fab fa-product-hunt fa-fw"></i></a></li>
				            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f fa-fw"></i></a></li>
				            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram fa-fw"></i></a></li>
				        </ul><!--//social-list-->
				    </div>
			    </footer>
		    </div>
	    </div>
    </div><!--//docs-wrapper-->
	<footer class="bd-footer py-5 mt-5 bg-dark" style="margin-left: 300px;">
		<div class="row">
		  <div class="col-lg-3 mb-3">
			<a style="color:white" class="navbar-brand mb-0 h1 mx-2" href="/">
				<img src="/static/images/citadelLogo.png" width="20" height="20" class="d-inline-block align-top mx-2" alt="">
				Citadel Coding
			</a>
			<ul class="list-unstyled small text-muted mx-3">
			  <li class="mb-2">Designed and built with all the love in the world by the <a href="https://github.com/Theorist-Git">Mayank Vats</a>.</li>
			  <li class="mb-2">Currently v3.0.0</li>
			  <li class="mb-2" style="color:white">Copyright (C) Mayank Vats - All Rights Reserved</li>
			</ul>
		  </div>
		  <div class="col-6 col-lg-2 offset-lg-1 mb-3">
			<h5 style="color:white">Links</h5>
			<ul class="list-unstyled">
			  <li class="mb-2"><a href="/">Home</a></li>
			  <li class="mb-2"><a href="/docs">Docs</a></li>
			</ul>
		  </div>
		  <div class="col-6 col-lg-2 mb-3">
			<h5 style="color:white; margin-left: -10px;">Guides</h5>
			<ul class="list-unstyled">
			  <li class="mb-2" style="margin-left: -25px;"><a href="https://www.youtube.com/watch?v=oA8brF3w5XQ">Getting started</a></li>
			  <li class="mb-2" style="margin-left: -25px;"><a href="https://flask.palletsprojects.com/en/1.1.x/quickstart/">Starter template</a></li>
			</ul>
		  </div>
		  <div class="col-6 col-lg-2 mb-3">
			<h5 style="color:white">Projects</h5>
			<ul class="list-unstyled">
			  <li class="mb-2"><a href="https://github.com/Theorist-Git/AuthAlpha" target="_blank">AuthAlpha</a></li>
			  <li class="mb-2"><a href="https://github.com/Theorist-Git/Regression" target="_blank">Regression</a></li>
			</ul>
		  </div>
		  <div class="col-6 col-lg-2 mb-3">
			<h5 style="color:white">Community</h5>
			<ul class="list-unstyled">
			  <li class="mb-2"><a href="https://forms.gle/FBG28Sw3HDgLtksF8">Bug Reports</a></li>
			  <li class="mb-2"><a href="/feedback">Feedback</a></li>
			</ul>
		  </div>
		</div>

	</footer>


    <!-- Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.0/umd/popper.min.js">

<!--     Page Specific JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/16.1.3/smooth-scroll.min.js"></script>
	<link rel="stylesheet"
	  href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/atom-one-dark-reasonable.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
	<script>document.addEventListener('DOMContentLoaded', (event) => {
	document.querySelectorAll('code').forEach((el) => {
	hljs.highlightElement(el);
	});
	});</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gumshoe/5.1.1/gumshoe.min.js"></script>
    <script src="static/assets/js/docs.js"></script>
</body>
</html>

