{% extends 'base.html' %}
{% block content %}

<div class="main mx-5 my-3" style="background-color: #fff">
<div class="main mx-2 my-5" style="border:1px solid black;" id="blogbox">
<div class="mx-3 my-5">

{% block blog %}
<!-- All blogs inject their HTML here -->
{% endblock blog %}

</div>
</div>
</div>

<!-- Main Body -->
{% if current_user.is_authenticated %}
<div>
    <section id="comms">
        <div class="container">
            <div class="row">
                <div class="my-5">
                    <form action="{{tdata}}#comms" method="POST" id="algin-form">
                        <div class="form-group">
                            <h4 id="head1">Leave a comment</h4>
                            <label>Message</label> <textarea name="msg" id="msg" cols="30" rows="5" class="form-control" style="background-color: white;"></textarea>
                        </div>
                        <div><label>Name: &emsp; {{current_user.name}}</label></div>
                        <div><label>Email: &emsp; {{current_user.email}}</label></div>

                        <div class="form-group">
                            <p class="text-secondary">If you wish, you can sub to our <a href="/404" class="alert-link"> Newsletter</a></p>
                        </div>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <button type="submit" id="s_ubmit" class="btn btn-primary btn-lg btn-block">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </section>
</div>
{% endif %}
<div class="container">
    {% if comments |length != 0 %}
    <div class="my-4">
        <h1 id="head2">Comments</h1>
        {% for i in comments %}
        <div class="comment col-12 my-3">
            <h4 id="head3">{{ i.name }}</h4>
            <span>- {{ i.date }}</span> <br />
            <p>{{ i.data }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
<style>
    @media (min-width: 568px) {
        .end {
            margin-left: auto;
        }
    }

    @media (max-width: 768px) {
        #post {
            width: 100%;
        }
    }

    #clicked {
        padding-top: 1px;
        padding-bottom: 1px;
        text-align: center;
        width: 100%;
        background-color: #ecb21f;
        border-color: #a88734 #9c7e31 #846a29;
        color: black;
        border-width: 1px;
        border-style: solid;
        border-radius: 13px;
    }

    #profile {
        background-color: unset;
    }

    #post {
        margin: 10px;
        padding: 6px;
        padding-top: 2px;
        padding-bottom: 2px;
        text-align: center;
        background-color: #ecb21f;
        border-color: #a88734 #9c7e31 #846a29;
        color: black;
        border-width: 1px;
        border-style: solid;
        border-radius: 13px;
        width: 50%;
    }

    #nav-items li a,
    #profile {
        text-decoration: none;
        color: rgb(224, 219, 219);
        background-color: black;
    }

    .comments {
        margin-top: 5%;
        margin-left: 20px;
    }

    .darker {
        border: 1px solid #ecb21f;
        background-color: black;
        float: right;
        border-radius: 5px;
        padding-left: 40px;
        padding-right: 30px;
        padding-top: 10px;
    }

    .comment {
        border: 1px solid rgba(16, 46, 46, 1);
        background-color: rgba(16, 46, 46, 0.973);
        float: left;
        border-radius: 5px;
        padding-left: 40px;
        padding-right: 30px;
        padding-top: 10px;
    }

    .comment h4,
    .comment span,
    .darker h4,
    .darker span {
        display: inline;
    }

    .comment p,
    .comment span,
    .darker p,
    .darker span {
        color: rgb(184, 183, 183);
    }

    #head1,
    #head2,
    #head3 {
        color: white;
        font-weight: bold;
    }

    label {
        color: rgb(212, 208, 208);
    }

    #align-form {
        margin-top: 20px;
    }

    .form-group p a {
        color: white;
    }

    #checkbx {
        background-color: black;
    }

    #darker img {
        margin-right: 15px;
        position: static;
    }

    .form-group input,
    .form-group textarea {
        background-color: black;
        border: 1px solid rgba(16, 46, 46, 1);
        border-radius: 12px;
    }

    form {
        border: 1px solid rgba(16, 46, 46, 1);
        background-color: rgba(16, 46, 46, 0.973);
        border-radius: 5px;
        padding: 20px;
    }
    #blogbox {
        -webkit-box-shadow: 0 0 10px rgb(105, 130, 255);
        -moz-box-shadow: 0 0 10px rgb(0, 0, 0);
    }
</style>

<!-- Allows re-loading of page without the prompt to re-submit data(comment) -->
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>

<link rel="stylesheet" href="/static/css/atom-one-dark.min.css" />
<script src="/static/JavaScript/highlight.min.js"></script>

<!-- Highlights Code in the blog -->
<script>
    hljs.highlightAll();
</script>

{% endblock content %}