{% extends 'base.html' %}
{% block content %}

<div class="container my-5" style="width:100%; background-color: white">

<!-- Highlights Code in the blog -->
<link rel="stylesheet" type="text/css" href="/static/css/prism.css">
<script src="/static/JavaScript/prism.js"></script>

{% block blog %}
<!-- All blogs inject their HTML here -->
    {{ post.post | safe }}
{% endblock blog %}

</div>
<!-- Main Body -->
{% if current_user.is_authenticated %}
<div>
    <section id="comms">
        <div class="container">
            <div class="row">
                <div class="my-5">
                    <hr style="border-top: 2px solid white; position: relative;" class="dropdown-divider">
                    <form action="{{tdata}}#comms" method="POST" id="algin-form">
                        <div class="form-group">
                            <h4 id="head1" style="color: white">Leave a comment</h4>
                            <label style="color: white">Message</label> <textarea name="msg" id="msg" cols="30" rows="5" class="form-control" style="background-color: white;"></textarea>
                        </div>
                        <div class="my-1"><label style="color: white">Name: &emsp; {{current_user.name}}</label></div>
                        <div><label style="color: white">Email: &emsp; {{current_user.email}}</label></div>

                        <div class="form-group">
                            <p class="text-secondary">If you wish, you can sub to our <a href="/404" class="alert-link"> Newsletter</a></p>
                        </div>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <button type="submit" id="s_ubmit" class="btn btn-primary btn-lg btn-block">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </section>
</div>
{% endif %}
<div class="container">
    {% if comments |length != 0 %}
    <div class="my-4">
        <h1 id="head2" style="color: white">Comments</h1>
        {% for i in comments %}
        <div class="col-12 my-3" style="background-color: #28282B; padding: 10px; border-radius:20px;;">
            <h4 id="head3" style="color: white">{{ i.name }}</h4>

            <span style="color: #a8a8a8">- {{ i.date }}</span> <br />
            <hr style="border-top: 2px solid white; position: relative;" class="dropdown-divider">
            <p style="color: white">{{ i.data }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

<!-- Allows re-loading of page without the prompt to re-submit data(comment) -->
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>

{% endblock content %}