{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
<table style="background-color:#fff;" class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Project</th>
      <th scope="col">Repository</th>
      <th scope="col">Documentation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>AuthAlpha</td>
      <td><a href="https://github.com/Theorist-Git/AuthAlpha" target="_blank" rel="noopener noreferrer">Github: Theorist-Git/AuthAlpha</a> <br>
      <a href="https://pypi.org/project/AuthAlpha" target="_blank" rel="noopener noreferrer">PyPI: project/AuthAlpha</a></td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Encrypt0r</td>
      <td><a href="https://github.com/Theorist-Git/Encrypt0r" target="_blank" rel="noopener noreferrer">Theorist-Git/Encrypt0r</a> </td>
      <td>TBD</td>
    </tr>
  </tbody>
</table>
  <div class="alert alert-primary" role="alert">
  TBD ≡ Documentation is under work, Feel free to contribute, you can create a pull request on the repo/email a html page.
</div>
</div>
{% endblock content %}