{% extends 'base.html' %}
{% block content %}

{% if current_user.role != "admin" %}
<div class = "container my-3">
      <h2>Deletion</h2>
      <form action = "/delete" method = "POST" onSubmit="return confirm('Are you sure you wish to delete?');">
        <div class="alert alert-primary my-3" role="alert" >
          Greeting, Traveller! Ask, and you shall receive
        </div>
        <button type="submit" id = "s_ubmit" class="btn btn-primary">Press to delete your account</button>
        <div class="alert alert-danger my-3" role="alert" >
          This deletion is permanent, please proceed with caution
        </div>
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      </form>
</div>
{% endif %}
{% endblock content %}