{% extends 'base.html' %}
{% block content %}

<!-- contact -->

    <!--Modal-->
    <div class="modal-dialog my-3">
        <!--Modal Content-->
        <div class="modal-content">
            <!-- Modal Header-->
            <div class="modal-header text-center">
                <h3 class="modal-title w-100">Feedback Request</h3>
            </div>
           <!-- Modal Body-->
            <div class="modal-body text-center"> <i class="far fa-file-alt fa-4x mb-3 animated rotateIn icon1"></i>
                <h3>Your opinion matters</h3>
                <h5>Help us improve our product? <strong>Give us your feedback.</strong></h5>
                <hr>
                <h6>Your Rating</h6>
            </div> <!-- Radio Buttons for Rating-->
            <div class="form-check mb-4"> <input name="feedback" type="radio"> <label class="ml-3">Very good</label> </div>
            <div class="form-check mb-4"> <input name="feedback" type="radio"> <label class="ml-3">Good</label> </div>
            <div class="form-check mb-4"> <input name="feedback" type="radio"> <label class="ml-3">Mediocre</label> </div>
            <div class="form-check mb-4"> <input name="feedback" type="radio"> <label class="ml-3">Bad</label> </div>
            <div class="form-check mb-4"> <input name="feedback" type="radio"> <label class="ml-3">Very Bad</label> </div>
            <!--Text Message-->
            <form action = "/feedback" method = "POST">
                <div class="text-center">
                    <h4>What could we improve?</h4>
                </div>
                <div class="form-group">
                    <textarea name="feed" id="feed" class="form-control" placeholder="Your Message" rows="3"></textarea> <!-- Modal Footer-->
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="modal-footer"> <button type="submit" id = "s_ubmit" class="btn btn-primary">Send</button> <a href="/" class="btn btn-outline-primary" data-dismiss="modal">Cancel</a> </div>
            </form>
        </div>
    </div>
<div class="mx-3">
{% with messages = get_flashed_messages(with_categories=true) %}
 {% if messages %}
       {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="alert alert-danger" role="alert">
                {{ message }}
                </div>
            {% else %}
                <div class="alert alert-success" role="alert">
                {{ message }}
                </div>
            {% endif %}
       {% endfor %}
 {% endif %}
{% endwith %}
</div>
<style>
   .modal-dialog {
    height: 50%;
    width: 50%;
    margin: auto
}

.modal-header {
    color: white;
    background-color: #007bff
}

textarea {
    border: none;
    box-shadow: none !important;
    -webkit-appearance: none;
    outline: 0px !important
}

.openmodal {
    margin-left: 35%;
    width: 25%;
    margin-top: 25%
}

.icon1 {
    color: #007bff
}

a {
    margin: auto
}

input {
    color: #007bff
}
</style>
{% endblock content %}