{% extends 'base.html' %}
{% block content %}

<!-- banner -->
<section class="banner_main">
   <div class = "container my-5">
   <div class="jumbotron">
     <h1 class="display-4" style="text-align: center;">
        <strong>Machine-Learning, Cryptography and Web-Development</strong>
     </h1>
     <p class="lead shadow-lg p-3 mb-5 bg-white rounded my-1" style="color: black;"><strong>
        Greetings, Traveller! This website acts as Model Deployment terminal as well as a documentation and tutorial
        Host for everyone to see, read and learn about them. The topics mentioned above are the most frequently
        posted topics here. Have Fun!
     </strong></p>
     <hr class="my-4">
     <p>Read the About section for more info</p>
     <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
   </div>
   </div>
   <div class="container col-md-12">
     <ol class="list-group list-group-numbered">
     <li class="list-group-item d-flex justify-content-between align-items-start">
       <div class="ms-2 me-auto">
         <div class="fw-bold">Subheading</div>
         Cras justo odio
       </div>
       <span class="badge bg-primary rounded-pill">14</span>
     </li>
     <li class="list-group-item d-flex justify-content-between align-items-start">
       <div class="ms-2 me-auto">
         <div class="fw-bold">Subheading</div>
         Cras justo odio
       </div>
       <span class="badge bg-primary rounded-pill">14</span>
     </li>
     <li class="list-group-item d-flex justify-content-between align-items-start">
       <div class="ms-2 me-auto">
         <div class="fw-bold">Subheading</div>
         Cras justo odio
       </div>
       <span class="badge bg-primary rounded-pill">14</span>
     </li>
   </ol>
   </div>
<!--</section>-->
<!-- end banner -->
<!-- Services  -->
<div id="service" class="Services">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>Best Coding Tutorials</h2>
               <p>You can write and read blogs on the following <br>
                  lucrative topics for free.
               </p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <a href="/blogindex">
            <div class="Services-box">
               <i><img src="/static/images/service1.png" alt="/blogindex" /></i>
               <h3> Website building</h3>
               <p>Tutorials on building websites using html5, css, Javascript. we cover frameworks like Flask, Django, Rest and many more</p>
            </div>
            </a>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <a href="/blogindex">
            <div class="Services-box">
               <i><img src="/static/images/service2.png" alt="/blogindex" /></i>
               <h3>Artificial Intelligence</h3>
               <p>Guided tutorials and guides on Machine learning. Whether you are a newb or an expert there is stuff in here for you!</p>
            </div>
            </a>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <a href="/blogindex">
            <div class="Services-box">
               <i><img src="/static/images/service3.png" alt="/blogindex" /></i>
               <h3>Cryptography</h3>
               <p>Want to learn about cryptography? We have tutorials on different encryption and hashing algorithms</p>
            </div>
            </a>
         </div>
<!--         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">-->
<!--            <div class="Services-box">-->
<!--               <i><img src="/static/images/service4.png" alt="#" /></i>-->
<!--               <h3>VPS Hosting</h3>-->
<!--               <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>-->
<!--            </div>-->
<!--         </div>-->
<!--         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">-->
<!--            <div class="Services-box">-->
<!--               <i><img src="/static/images/service5.png" alt="#" /></i>-->
<!--               <h3>Cloud Hosting</h3>-->
<!--               <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>-->
<!--            </div>-->
<!--         </div>-->
<!--         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">-->
<!--            <div class="Services-box">-->
<!--               <i><img src="/static/images/service6.png" alt="#" /></i>-->
<!--               <h3>Reseller Hosting</h3>-->
<!--               <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>-->
<!--            </div>-->
<!--         </div>-->
         <a class="read_more" href="/about">Read More</a>
      </div>
   </div>
</div>
</section>
<!-- end Services -->

<style>

    #fpage {
    margin-top:-30px;}
      body{
      background-color: #0c0f38;}
</style>
{% endblock content %}
