{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
<table style="background-color:#fff;" class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Project</th>
      <th scope="col">Repository</th>
      <th scope="col">Documentation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Regression</td>
      <td><a href="https://github.com/Theorist-Git/Regression" target="_blank" rel="noopener noreferrer">Theorist-Git/Regression</a> </td>
      <td>TBD</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Virtual Assistant</td>
      <td><a href="https://github.com/Theorist-Git/CORE" target="_blank" rel="noopener noreferrer">Theorist-Git/CORE</a> </td>
      <td>TBD</td>
    </tr>
  </tbody>
</table>
  <div class="alert alert-primary" role="alert">
  TBD ≡ Documentation is under work, Feel free to contribute, you can create a pull request on the repo/email a html page.
</div>
</div>
{% endblock content %}