{% extends 'base.html' %}
{% block content %}
<div class="container">
   <h2 class="my-4">Project & Model Index</h2>
   <h5>Index of projects, contains <strong>Documentations</strong>, <strong>Source Codes,</strong>
      <strong>Models</strong>.<br>
   </h5>
      <div class="row">
         <div class="card text-white bg-dark mb-3 my-3" style="width: 17rem;">
           <img src="/static/svg/ai.svg" class="card-img-top my-2" alt="...">
           <div class="card-body">
             <h5 class="card-title">Machine Learning</h5>
             <p class="card-text">Machine Learning projects and models.</p>
             <a href="/projects/Machine-Learning" class="btn btn-primary">More -></a>
           </div>
         </div>
         <div class="card text-white bg-dark mb-3 my-3" style="width: 17rem;">
           <img src="/static/svg/crypt.svg" class="card-img-top my-2" alt="...">
           <div class="card-body">
             <h5 class="card-title">Cryptography</h5>
             <p class="card-text">Cryptography Projects and Packages</p>
             <a href="/projects/Cryptography" class="btn btn-primary">More -></a>
           </div>
         </div>
         <div class="card text-white bg-dark mb-3 my-3" style="width: 17rem;">
           <img src="/static/svg/web.svg" class="card-img-top my-2" alt="...">
           <div class="card-body">
             <h5 class="card-title">Web Development</h5>
             <p class="card-text">Flask, Django ,HTML, CSS and JS</p>
             <a href="/blogindex" class="btn btn-primary">More -></a>
           </div>
         </div>
         <div class="card text-white bg-dark mb-3 my-3" style="width: 17rem;">
           <img src="/static/svg/github.svg" class="card-img-top my-2" alt="...">
           <div class="card-body">
             <h5 class="card-title">Miscellaneous</h5>
             <p class="card-text">Eg: video downloader, bots etc</p>
             <a href="#" class="btn btn-primary">More -></a>
           </div>
         </div>
      </div>
   </div>
<style>
    .container
    {
       color: #fff;
    }
</style>

{% endblock content %}